.idea
.vscode

# personal-color/shape_predictor_68_face_landmarks.dat
personal-color/*.jpg
personal-color/images/dataset/
personal-color/images/dataset_3/

personal-color/__pycache__
personal-color/runs
personal-color/images
personal-color/models