.idea
.vscode

# personal-color/shape_predictor_68_face_landmarks.dat
personal-color/*.jpg
personal-color/images/
personal-color/__pycache__
personal-color/models
personal-color/orig
personal-color/reshaped
